.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: flex-end;
}

.word-break-all {
    word-break: break-all;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.p-10 {
    padding: 10px;
}

.font-weight-500 {
    font-weight: 500;
}

.upload-result-border {
    border: 1px solid #eaedf3;
}

.upload-result-title {
    color: #6d889b;
}

.upload-result-message {
    color: #999999;
}

.icon-danger {
    color: #f34747;
}

.icon-success {
    color: #87b563;
}

.icon-cloud {
    color: #c8dbea;
}

.text-white {
    color: #fff;
}

.drag-area {
    padding: 20px;
    background: #f2f8fd;
    border-color: #c8dbea;
}

.drag-content {
    color: #9db0be;
}

.align-items-center {
    align-items: center;
}
