.simple-export-import .label {
    font: bold 14px Roboto;
    margin-bottom: 5px;
}

.simple-export-import .count {
    font: bold 14px Roboto;
}

.simple-export-import .radio-label {
    font: normal 13px Roboto;
    color: #96989C;
    margin-right: 1rem;
}

.simple-export-import .d-flex {
    display: flex;
}

.simple-export-import .row {
    flex-direction: row;
}

.simple-export-import .align-items-center {
    align-items: center;
}

.simple-export-import .mr-auto {
    margin-right: auto;
}


.simple-export-import .h-100 {
    height: 100%;
}

.simple-export-import .p-3 {
    padding: 1rem;
}

.simple-export-import .bl-1 {
    border-left: 1px solid #E3E7EC;
}
