<div class="blade-static _expanded simple-import-header">
    <div class="d-flex h-100 align-items-center">
        <div class="mr-auto p-3">
            <div class="label">What would you like to do with the imported data?</div>
            <label class="radio-label">
                <input type="radio" name="name1" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.createNewOnly}}" /> Create new only
            </label>
            <label class="radio-label">
                <input type="radio" name="name2" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.updateExistingOnly}}" /> Update existing only
            </label>
            <label class="radio-label">
                <input type="radio" name="name3" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.createAndUpdate}}" /> Create & update
            </label>
        </div>
        <div class="p-3 bl-1">
            <div class="label">Ignore unknown SKU</div>
            <div>
                <label class="form-label __switch">
                    <input type="checkbox" ng-model="blade.ignoreUnknownSku">
                    <span class="switch"></span>
                </label>
            </div>
        </div>
        <div class="p-3 bl-1">
            <div class="label">Preview count:</div>
            <div>
                <span class="count">{{blade.currentEntities.length | number:0}}</span> of <span class="count">{{blade.totalCount | number:0}}</span>
            </div>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __xlarge-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions({
                    data: 'blade.currentEntities',
                    useExternalSorting: false,
                    rowHeight: 60,
                    rowTemplate: 'list.row.html',
                    columnDefs: [                       
                        { 
                            name: 'sku', displayName: 'simpleExportImport.blades.import-preview.labels.sku', 
                            cellTooltip:true,  headerTooltip: true, field: 'product.code', width: '**'
                        },
                        { name: 'minQuantity', displayName: 'simpleExportImport.blades.import-preview.labels.min-quantity', headerTooltip: true, field: 'minQuantity', width: 150},
                        { name: 'listPrice', displayName: 'simpleExportImport.blades.import-preview.labels.list-price', headerTooltip: true, field: 'list', width: 150},
                        { name: 'salesPrice', displayName: 'simpleExportImport.blades.import-preview.labels.sales-price', headerTooltip: true, field: 'sale', width: 150}
                    ]})">
            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-height></div>
            </div>
            <div class="note" ng-if="!blade.currentEntities.length">{{ 'platform.list.no-data' | translate }}</div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.row.html">
    <div  
    ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" 
    ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" 
    class="ui-grid-cell" 
    ng-class="{'ui-grid-row-header-cell': col.isRowHeader}" 
    role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" 
    ui-grid-cell></div>
</script>
<script type="text/ng-template" id="productName.cell.html">
    <div class="ui-grid-cell-contents" > {{ row.entity.product.name}}</div>
</script>
