<div class="blade-static _expanded simple-export-import">
    <div class="d-flex h-100 align-items-center">
        <div class="mr-auto p-14">
            <div class="label">{{ 'simpleExportImport.blades.import-preview.labels.import-strategy' | translate }}</div>
            <label class="radio-label">
                <input type="radio" name="name1" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.createNewOnly}}" /> {{ 'simpleExportImport.blades.import-preview.labels.create-new-only' | translate }}
            </label>
            <label class="radio-label">
                <input type="radio" name="name2" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.updateExistingOnly}}" /> {{ 'simpleExportImport.blades.import-preview.labels.update-existing-only' | translate }}
            </label>
            <label class="radio-label">
                <input type="radio" name="name3" ng-model="blade.importStrategy" value="{{blade.importStrategyTypes.createAndUpdate}}" /> {{ 'simpleExportImport.blades.import-preview.labels.create-and-update' | translate }}
            </label>
        </div>
        <div class="p-14 bl-1">
            <div class="label">{{ 'simpleExportImport.blades.import-preview.labels.ignore-unknown-sku' | translate }}</div>
            <div>
                <label class="form-label __switch">
                    <input type="checkbox" ng-model="blade.ignoreUnknownSku">
                    <span class="switch"></span>
                </label>
            </div>
        </div>
        <div class="p-14 bl-1">
            <div class="label">{{ 'simpleExportImport.blades.import-preview.labels.preview-count' | translate }}</div>
            <div>
                <span class="count">{{blade.currentEntities.length | number:0}}</span> of <span class="count">{{blade.totalCount | number:0}}</span>
            </div>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __xlarge-wide simple-export-import">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions({
                    data: 'blade.currentEntities',
                    useExternalSorting: false,
                    rowHeight: 60,
                    rowTemplate: 'list.row.html',
                    columnDefs: [                       
                        { 
                            name: 'sku', displayName: 'simpleExportImport.blades.import-preview.labels.sku', field: 'sku',
                            cellClass: 'pl-10', headerCellClass: 'pl-10',
                            cellTooltip:true,  headerTooltip: true, width: '**'
                        },
                        { name: 'minQuantity', displayName: 'simpleExportImport.blades.import-preview.labels.min-quantity', headerTooltip: true, field: 'price.minQuantity', width: 150},
                        { name: 'listPrice', displayName: 'simpleExportImport.blades.import-preview.labels.list-price', headerTooltip: true, field: 'price.list', width: 150, cellTemplate: 'price.cell.html'},
                        { name: 'salePrice', displayName: 'simpleExportImport.blades.import-preview.labels.sale-price', headerTooltip: true, field: 'price.sale', width: 150, cellTemplate: 'price.cell.html'}
                    ]})">
            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-height></div>
            </div>
            <div class="note" ng-if="!blade.currentEntities.length">{{ 'platform.list.no-data' | translate }}</div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.row.html">
    <div  
    ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" 
    ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" 
    class="ui-grid-cell" 
    ng-class="{'ui-grid-row-header-cell': col.isRowHeader}" 
    role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" 
    ui-grid-cell></div>
</script>
<script type="text/ng-template" id="price.cell.html">
    <div class="ui-grid-cell-contents" >{{ COL_FIELD | number : 2}}</div>
</script>

